/**
 * Sphinx stylesheet -- sphinxdoc theme
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * Originally created by Armin Ronacher for Werkzeug, adapted by Georg Brandl.
 */

@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva',
                 'Verdana', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 150%;
    text-align: center;
    background-color: #ccc4b2;
    color: #333333;
    padding: 0;
    
	
    margin: 0px 80px 0px 80px;
    min-width: 740px;
	
}

div.document {
    
    text-align: left;
    
    background-repeat: repeat-x;

	
}

div.title{
	background: url(../_static/title.png) no-repeat ;
    margin: 10px  0 0 0 ;
    height:150px;
}

div.bodywrapper {
	background-color: white;
	border-top: 1px solid #ccc;
    margin:  0 250px 10px 0;
    border-right: 1px solid #ccc;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.body {

    margin: 0;
    padding: 0.5em 20px 20px 20px;
	
}

div.related {
    font-size: 1em;
	
}

div.related ul {
    background:#b8ad94;
    height: 2.5em;
    padding-right: 60px;
	padding-top:0.5em;
	margin-top:10px;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div.related ul li {
	color:#9c927b;
    margin: 0;
    padding: 0;
    height: 2em;
    float: left;
}

div.related ul li.right {
    float: right;
    margin-right: 5px;
}

div.related ul li a {
	
    margin: 0;
    padding: 0 5px 0 5px;
    line-height: 1.75em;
    color: #ffffff;
}

div.related ul li a:hover {
    color: #ffd05e;
}

div.sphinxsidebarwrapper {
    padding: 0;
}

div.sphinxsidebar {
	background-color: white;
	border-radius: 10px; 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	
    padding: 0 10px 10px 10px;
    width: 220px;
    float: right;
    font-size: 1em;
    text-align: left;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
    margin: 1em 0 0.5em 0;
    font-size: 1em;
    padding: 0.2em 0 0.2em 0.5em;
    color: white;
  
    background-color: #418237;
}

div.sphinxsidebar h3 a {
    color: white;
}


div.footer {
  
    color: #ffffff;
    padding: 3px 8px 3px 0;
    clear: both;
    font-size: 0.8em;
    text-align: right;
}

div.footer a {
    color: #86989B;
    text-decoration: underline;
}

/* -- body styles ----------------------------------------------------------- */

p {    
    margin: 0.8em 0 0.5em 0;
}

a {
    color: #CA7900;
    text-decoration: none;
}

a:hover {
    color: #24c762;
}

.body .section:first-child{
	margin-top:-10px; 
}

div.body a {
    text-decoration: underline;
}

h1 {
    font-size: 1.35em;
	border-radius: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 margin: 15px -10px  10px -10px;
     padding: 0.3em 0 0.3em 0.5em;
    color: white;
    background-color: #418237;
}

h2 {
    margin: 0;
    font-size: 1.2em;
   padding: 1em 0 0.2em 0;
    color: #676767;
	border-bottom:2px solid #aaa;
}

h3 {
	color: #108b3f;
    margin: 1em 0 -0.7em 0;
    font-size: 1.2em;
}

h4{
	color: #108b3f;
    margin: 1em 0 -1em 0;
    font-size: 1em;
}

h5{
	color: #333333;
    margin: 2em 0 -1em 0;
    font-size: 1em;
}
div.body h1 a{
    color: #9ec19a;
}

div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a {
    color: #999999;
}

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor {
    display: none;
    margin: 0 0 0 0.3em;
    padding: 0 0.2em 0 0.2em;
    color: #aaa!important;
}

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor {
    display: inline;
}

h1 a.anchor:hover{
    color: #b9f600;

}

h2 a.anchor:hover{
   color: #333333;
} 
h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover{
   color: #333333;
} 
a.headerlink {
    
    font-size: 1em;
    margin-left: 6px;
    padding: 0 4px 0 4px;
    text-decoration: none!important;
}

h1 a.headerlink:hover {
   
    color: #b9f600;
}
h2 a.headerlink:hover {
   
    color: #cccccc;
}
h3 a.headerlink:hover {
   
    color: #cccccc;
}
cite, code, tt {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.01em;
}

tt {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    color: #333;
}

tt.descname, tt.descclassname, tt.xref {
    border: 0;
}

hr {
    border: 1px solid #abc;
    margin: 2em;
}

a tt {
    border: 0;
    color: #CA7900;
}

a tt:hover {
    color: #2491CF;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono',
                 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    line-height: 120%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
}

pre a {
    color: inherit;
    text-decoration: underline;
}

table.highlighttable {
    width: 100%;
    table-layout: fixed;
}

td.linenos {
    width: 23px;
}

td.linenos pre {
    padding: 0.5em 0;
}

td.code pre {
    overflow-x: auto;
}

div.quotebar {
    background-color: #f8f8f8;
    max-width: 250px;
    float: right;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #f8f8f8;
}

table {
    border-collapse: collapse;
    
}

table td, table th {
    padding: 0.2em 1em 0.2em 1em;
}
table th {
   color:#418237;

}
div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid #86989B;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    margin: 0;
    padding: 0.1em 0 0.1em 0.5em;
    color: white;
    border-bottom: 1px solid #86989B;
    font-weight: bold;
    background-color: #AFC1C4;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}

div.versioninfo {
    margin: 1em 0 0 0;
    border: 1px solid #ccc;
    background-color: #DDEAF0;
    padding: 8px;
    line-height: 1.3em;
    font-size: 0.9em;
}



#searchbox input.keyword{
position: absolute;
width:139px;
 height:31px;
 background: url("../_static/sinput.png") no-repeat left top;
 border:0px;
 margin:0px;
 padding:0px 5px 0px 30px;
 color:#cccccc;
 font-size:14px;
}


#searchbox input.keyword:focus{
outline:0px none black; 
color:#513e11;
 background-position:left bottom;
}

#searchbox input.searchBtn{
position: absolute;

left:178px;
 margin:0px;
width:39px;
height:32px;
 background: url("../_static/sbtn.png") no-repeat left top;
 border:0px;
  text-indent:-9999px;
}

#searchbox input.searchBtn:hover{
 background-position:left center;
}
#searchbox input.searchBtn:active{
 background-position:left bottom;
}

table.citation {
  border: none;
}

table.citation tr {
  border: none;
}

table.citation td {
  border: none;
}

table.citation tr:last-child {
  border: none;
}

table.citation td.label {
  background-color: white;
  text-align: left;
} 

table.field-list {
  border: none;
}

table.field-list tr:nth-child(even) {
  background-color: white;
}

td.field-body table {
  margin: 1em;
}

dl.method dd table tr.field li {
  border: none;
  margin: 0;
}

dl.method table tr.field {
  border: none;
}

/* Jubatus Members */
div.member-box {
    margin: 20px;
    border-bottom: solid 1px #cccccc;
}
div.member-photo {
    float: left;
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 10px 10px;
}
div.member-photo img {
    width: 90px;
}
div.member-relation {
    font-size: 90%;
}
span.member-name {
    font-size: 120%;
    font-weight: bold;
    margin-right: 10px;
}
ul.member-social {
    list-style: none;
}
ul.member-social li {
    float: left;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-position: left 2px;
}
ul.member-social li.github {
    /* GitHub logo is used under the license: https://github.com/github/media */
    background-image: url(../_static/icon/github.png);
}
ul.member-social li.twitter {
    /* Twitter logo is used under the license: https://twitter.com/logo */
    background-image: url(../_static/icon/twitter.png);
}
ul.member-social li.web {
    /* Icon from Jonas Rask Design; used under the license: http://www.iconarchive.com/show/danish-royalty-free-icons-by-jonas-rask.html */
    background-image: url(../_static/icon/web.png);
}
ul.member-social li.blog {
    /* Icon from Jonas Rask Design; used under the license: http://www.iconarchive.com/show/danish-royalty-free-icons-by-jonas-rask.html */
    background-image: url(../_static/icon/blog.png);
}
ul.member-social li.mail {
    /* Icon from Jonas Rask Design; used under the license: http://www.iconarchive.com/show/danish-royalty-free-icons-by-jonas-rask.html */
    background-image: url(../_static/icon/mail.png);
}
